<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="/img/weather.png">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/customCSS/common.css">

    <!-- Custom styles for this template -->
    <link href="/css/landing-page.min.css" rel="stylesheet">

      <!-- Font awesome link-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <title>About</title>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
         <a class="navbar-brand" href="/" style="color: #fed136;"><img src="/img/weather.png" width="30" height="30" class="d-inline-block align-top" alt=""> Weather-App</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto">
             <li class="nav-item">
             <a class="nav-link active" href="/">Home</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="/about">About</a>
             </li>
             <li class="nav-item">
             <a class="nav-link" href="/help">Help</a>
             </li>
           </ul>
         </div>
   </nav>


   <div class="about">

       <div class="container">
         <div class="a head">
            <h1>About Me</h1>
         </div>
         <div class="a">
              <img src="/img/image.png" alt="" width="200px">
         </div>
          <div class="a">
            <h2>Avishek Thakur</h2>
          </div>
        <div class="a">
          <p>Competitive Programmer and <br>Web Developer</p>
        </div>


       </div>


   </div>


   {{!-- <div class="review help">
       <div class="container">

           <div class="row">

               <div class="des col-lg-4">
                   <i class="far fa-desktop hover"></i>
                   <h2>Fully Responsive</h2>
                   <p>This Weather-App will look same on<br>any device, no matter the size!</p>
               </div>

               <div class="des col-lg-4">
                   <i class="fal fa-clock hover"></i>
                   <h2>24x7 Service</h2>
                   <p>This site is open for 24x7. So you can <br> visit anytime and find forecast.</p>
               </div>

               <div class="des col-lg-4">
                   <i class="fal fa-smile hover"></i>
                   <h2>Easy to Use</h2>
                   <p>It's user friendly, just simply type in <br> the location and get the forecast.</p>
               </div>

           </div>
       </div>
   </div> --}}

   <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Fully Responsive</h3>
            <p class="lead mb-0">This Weather-App will look same on any device, no matter the size!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-clock m-auto text-primary"></i>
            </div>
            <h3>24x7 Service</h3>
            <p class="lead mb-0">This site is open for 24x7. So you can visit anytime and find forecast.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-emotsmile m-auto text-primary"></i>
            </div>
            <h3>Easy to Use</h3>
            <p class="lead mb-0">It's user friendly, just simply type in the location and get the forecast.</p>
          </div>
        </div>
      </div>
    </div>
  </section>






   <footer class="py-5 bg-dark">
   <div class="container">
     <div class="row">
       <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
         <p class="m-0 text-center text-white">&copy; Weather-App 2021. All Rights Reserved.</p>
       </div>
       <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
         <ul class="list-inline mb-0">
           <li class="list-inline-item mr-3">
             <a href="https://www.facebook.com/avishek.thakur.96995">
               <i class="fab fa-facebook fa-2x fa-fw"></i>
             </a>
           </li>
           <li class="list-inline-item mr-3">
             <a href="https://www.instagram.com/avishekthakur143">
               <i class="fab fa-instagram fa-2x fa-fw"></i>
             </a>
           </li>
           <li class="list-inline-item mr-3">
             <a href="https://twitter.com/Avishek13492701?s=08"><i class="fab fa-twitter-square fa-2x fa-fw"></i></a>
           </li>
         </ul>
       </div>
     </div>
   </div>
 </footer>


   <script src="/vendor/jquery/jquery.min.js"></script>
   <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="/js/app.js"></script>

</body>

</html>
