<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/weather.png">
  <!-- <link rel="stylesheet" href="/css/styles.css"> -->
  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/customCSS/common.css">

  <!-- Custom styles for this template -->
  <link href="/css/landing-page.min.css" rel="stylesheet">

  <title>Weather</title>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
         <a class="navbar-brand" href="/" style="color: #fed136;"><img src="/img/weather.png" width="30" height="30" class="d-inline-block align-top" alt=""> Weather-App</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto">
             <li class="nav-item">
             <a class="nav-link active" href="/">Home</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="/about">About</a>
             </li>
             <li class="nav-item">
             <a class="nav-link" href="/help">Help</a>
             </li>
           </ul>
         </div>
   </nav>


   <div class="hero">

         <div class="container">

             <div class="items">
                 <p class="heading">Use this site to get your weather</p>

                 <form class="form">
                     <input placeholder="Enter Any Location" class="input" type="text"></input>
                     <button>Search</button>
                 </form>

                 <p id="message-1"></p>
                 <p id="message-2"></p>
             </div>

         </div>


     </div>




     <div class="review">
      <div class="header">
          <h2>What people are saying...</h2>
      </div>

      <div class="container">

          <div class="row">

              <div class="des col-lg-4">
                  <img src="/img/ad.png" alt="" width="200px">
                  <h2>Amardeep Ansh</h2>
                  <p>"This is fantastic and flexible.<br>Thanks guys!"</p>
              </div>

              <div class="des col-lg-4">
                  <img src="/img/psk.png" alt="" width="200px">
                  <h2>Priyanshu Sharma</h2>
                  <p>"It's amazing as I can easily find the <br> forecast of any desired location"</p>
              </div>

              <div class="des col-lg-4">
                  <img src="/img/akash.png" alt="" width="200px">
                  <h2>Akash Biswas</h2>
                  <p>"Thanks so much for making these free <br> resources available to us!"</p>
              </div>

          </div>


      </div>


  </div>

  <footer class="py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <p class="m-0 text-center text-white">&copy; Weather-App 2021. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="https://www.facebook.com/avishek.thakur.96995">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="https://www.instagram.com/avishekthakur143">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="https://twitter.com/Avishek13492701?s=08"><i class="fab fa-twitter-square fa-2x fa-fw"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>





  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/app.js"></script>
</body>

</html>
